# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
bin/
include/
lib/
pyvenv.cfg

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Logs & temp
# =========================
*.log
*.sqlite3
.env